<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/expand-collapse.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
    <script src="/js/main.js" ></script>
</head>
<body>
<div th:replace="fragments/navigation :: left_panel"></div>

<script type="text/javascript">
    //<![CDATA[
        bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
    //]]>
</script>

<div class="main-content">
    <form action="#" th:action="@{~/ticket/save}" th:object="${ticket}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <span th:text="${ticket.displayedName}" /><br/>
        <article>
            <table class="main-content-main-table ">
                <thead>
                <tr>
                    <th>Info:</th>
                    <th>Steps to reproduce:</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table class="main-content-sub-table" border="0" cellpadding="5">
                                <tr><td>Key:</td><td><input type="text" th:field="*{key}" /></td></tr>
                                <tr><td>Name:</td><td><input type="text" th:field="*{name}" style="width: 500px;"/></td></tr>
                                <tr><td>Priority:</td><td><input type="text" th:field="*{priority}" /></td></tr>
                                <tr><td>Status:</td><td>
                                    <select th:field="*{status}" th:remove="all-but-first">
                                        <option th:each="possibleStatus : ${T(ru.akhitev.organizer.enums.Status).values()}"
                                                th:value="${possibleStatus}" th:text="${possibleStatus.toString()}"></option>
                                    </select>
                                </td></tr>
                                <tr><td>Links:</td><td>
                                    <div th:each="link : *{links}">
                                        <a target="_blank" th:href="${link.link}" style="color: blue;" ><span th:text="${link.name}"/></a><a th:href="@{'~/ticket/link/delete/' + ${link.id}}"><img th:src="@{/images/remove.png}" width="30" height="20" style="padding-left: 10px;" /></a>
                                    </div><br/>
                                    <button type="button" name="addLink" onclick="location.href='/ticket/link/new'"><img th:src="@{/images/add.png}" width="20" height="20"/></button>
                                </td></tr>
                            </table>
                        </td>
                        <td><textarea th:field="*{stepsToReproduce}" cols="80" rows="10" style="overflow-y: scroll;"></textarea></td>
                    </tr>
                </tbody>
            </table>
        </article>
        <article>
            <h3>Progress</h3>
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Progress</th>
                </tr>
                </thead>
                <tr>
                </tr>
            </table>
        </article>
        <article>
            <h3>Tasks</h3>
            <table>
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Info</th>
                </tr>
                </thead>
            </table>
        </article>
        <article>
            <h3>Attaches</h3>
        </article>
        <article>
            <h3>Workspace</h3>
            <textarea th:field="*{workspace}" rows="10" cols="200"></textarea>
        </article>
        <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
    </form>
</div>

<div th:replace="fragments/navigation :: right_panel"></div>
</body>
</html>