<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="navbar-left"  th:fragment="left_panel">
        <a href="#" class="btn-expand-collapse" onclick="expandCollaps()"></a>
        <article class="navbar-left-menu">
            <h2 class="sidebar-title">P<span class="nav-label">rojects</span></h2>
            <span class="nav-label">
                <table>
                    <tr th:each="project  : ${projects}">
                        <td th:text="${project.name}"></td>
                        <td><a th:href="@{'~/project/edit/' + ${project.id}}">Редактировать</a></td>
                        <td><a th:href="@{'~/project/delete/' + ${project.id}}">Удалить</a></td>
                    </tr>
                </table>
                <button type="button" name="addProject" onclick="location.href='/project/new'">+</button>
            </span>
        </article>
        <article class="navbar-left-menu">
            <h2 class="sidebar-title">T<span class="nav-label">ickets</span></h2>
            <span class="nav-label">
                <select>
                    <option th:value="NULL" text="---Select Type---"></option>
                    <option th:each="project : ${tickets}" th:value="${ticket.id}" th:text="${project.key}" />
                </select><br/>
                <button type="button" name="addTicket" onclick="location.href='/ticket/new'">Add ticket</button>
            </span>
        </article>
    </nav>

    <nav class="navbar-right" th:fragment="right_panel">
        <a href="#" class="btn-right-expand-collapse" onclick="expandCollapsRight()"></a>
        <article class="navbar-right-menu">
            <h2 class="sidebar-title">E<span class="nav-label">xternal links</span></h2>
            <span class="nav-label">
                <a>Scrum Board Link</a><br/>
                <a>Jenkins Jobs Link</a><br/>
                <a>About Environment</a><br/>
            </span>
        </article>
        <article class="navbar-right-menu">
            <h2 class="sidebar-title">N<span class="nav-label">otes</span></h2>
            <span class="nav-label">
                <a>About Resource Bundles</a><br/>
                <a>About Email Template</a><br/>
            </span>
        </article>
    </nav>
</body>
</html>