
.navbar-right {
  background-color: #333;
  bottom: 0px;
  right: 0px;
  position: absolute;
  top: 5px;
  width: 200px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-right.collapsed {
  width: 20px;
}

.navbar-right.collapsed .nav-label {
  display: none;
}

.btn-right-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-right-expand-collapse:hover,
.btn-right-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-right-expand-collapse:active {
    background-color: #111;
}

.navbar-right-menu,
.navbar-right-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-right-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom:solid 1px #444;
  color: #ccc;
}

.navbar-right-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.navbar-right-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-right-menu li a:hover .glyphicon {
  color: orchid;
}

.navbar-left {
  background-color: #333;
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 300px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-left.collapsed {
  width: 20px;
}

.navbar-left.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-left-menu,
.navbar-left-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-left-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom:solid 1px #444;
  color: #ccc;
}

.navbar-left-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.navbar-left-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-left-menu li a:hover .glyphicon {
  color: orchid;
}

.main-content {
  margin-top: 5px;
  margin-left: 300px;
  padding: 20px;
}

.collapsed + .main-content {
  margin-left: 60px;
}